# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/static/

# React / Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
